.background{
    -fx-background-color: #1d1d1d;
}

.label{
    -fx-font-size: 12pt;
    -fx-font-family: "Open Sans Condensed";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.button:hover{
    -fx-background-color: #DAA520;
}

.menu:hover{
    -fx-background-color: #DAA520;
}

.table-row-cell:selected{
    -fx-background-color: #DAA520;
}

div#btn1 {
	-fx-text-fill: red;
		}

/*
.dropdown-item:hover .badge {
text-align: center;
*/